<ng-container *ngIf="acceptedOrders">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button color="primary"></ion-menu-button>
            </ion-buttons>
            <ion-title>Accepted Orders</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-card *ngFor="let order of acceptedOrders">
            <div class="main-card" (click)="viewmore(order)">
                <div class="row1">
                    <div>
                        Order No : <b> {{order.order_id}}</b>
                    </div>
                    <div class="date">
                        <b>{{order.created_at}}</b>
                    </div>
                </div>
    
                <div class="row2">
                    <div class="name">{{order.order_address.user_name}}</div>
                    <div class="phone">+91 {{order.order_address.phone}}</div>
                </div>
    
                <div class="row3">
                    {{order.order_address.address_one}}, {{order.order_address.address_two}}, {{order.order_address.place}}, {{order.order_address.landmark}}, {{order.order_address.pincode}}, {{order.order_address.city}}, {{order.order_address.state}}
                </div>
            </div>
        </ion-card>
    </ion-content>
</ng-container>